/*.rowA{*/
/*    display:flex;*/
/*    flex-direction:row;*/
/*    width: 70%;*/
/*    margin-left: 30px;*/
/*    height: 40%;*/
/*    padding: 5px 5px 5px 5px;*/
/*    border-radius: 10px;*/

/*}*/

/*.rowB{*/
/*    display:flex;*/
/*    flex-direction:row;*/
/*    width: 60%;*/
/*    margin-left: 30px;*/
/*    height: 60%;*/
/*    padding: 5px 5px 5px 5px;*/
/*    border-radius: 10px;*/

/*}*/

.Button{
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    position: absolute; top: 0; right: 0;
}

/*ref: https://www.w3schools.com/cssref/css3_pr_overflow-y.php*/
.tweetsDisplay {
    overflow-y: scroll;
}

.child {
    display: inline-block;
}


